<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home Page</title>
	<style type="text/css">
		p {
  color: navy;
  text-align: center;
  
  margin: 20px;
}

		body {
      font-family: Arial, sans-serif;
      background-color: #e9edc9;

      margin: 0;
      padding: 0;
    }

		hr {
		  border: none;
		  border-top: 3px double #333;
		  color: #333;
		  overflow: visible;
		  text-align: center;
		  height: 5px;
		  margin-left: 400px;
		  margin-right: 400px;

		}

		.registration-button {
		  display: inline-block;
		  padding: 10px 20px;
		  background-color: #3498db;
		  color: #ffffff;
		  text-decoration: none;
		  border: none;
		  border-radius: 4px;
		  cursor: pointer;
		  margin-bottom: 20px;
		}
	</style>
</head>
<body>
	<div align="center">
		<small><p style="padding-top: 10px; margin-bottom: 0px; color: #fb8500;">यथा शिखा मयूराणां, नागानां मणयो यथा ।<br>तद् वेदांगशास्त्राणां, गणितं मूर्ध्नि वर्तते ॥ </p><p style="margin-top: 5px; color: #fb8500;"">Like the crest of a peacock, like the gem, on the head of a snake, so is mathematics at the head of all knowledge.</p></small>
	</div>

	<div align="center">

		<h1>THAKURGANJ ANNUAL MATHEMATICS CONTEST ‒ 2023</h1>

	</div>

	<div align="center">
		<h2><u>समान्य परिचय</u><br>
			
		</h2>
	</div>

	<div>
		<p><b>रामानुजन मैथेमेटिक्स क्लब, ठाकुरगंज</b>, द्वारा महान भारतीय गणितज्ञ <a href="https://hi.wikipedia.org/wiki/%E0%A4%B6%E0%A5%8D%E0%A4%B0%E0%A5%80%E0%A4%A8%E0%A4%BF%E0%A4%B5%E0%A4%BE%E0%A4%B8_%E0%A4%B0%E0%A4%BE%E0%A4%AE%E0%A4%BE%E0%A4%A8%E0%A5%81%E0%A4%9C%E0%A4%A8%E0%A5%8D"><b>श्रीनिवासन रामानुजन</b></a> के जयंती के उपलक्ष्य में स्कूली बच्चों के लिए एक गणित कि प्रतियोगिता करवाई जाती है, जिसमें मुख्यतः 6 से लेकर 10 तक के बच्चे भाग ले सकते हैं। परीक्षा में भाग लेना पूर्णतः निःशुल्क है। फर्स्ट सेकंड और थर्ड आने वाले विद्यार्थियों को इनाम जायेगा। </p>
		
		<p>यह परीक्षा करवाने का पहला उद्देश्य गणित का सामान्यकरण और मानवीकरण करना है। गणित जितना स्कूल में पढ़ाया जाता है, गणित उससे कहीं ज्यादा व्यापक है। और, गणित, किसी ना किसी रूप में सब के लिए जरूरी भी है। </p>
		
		<p>दूसरा उद्देश्य, ठाकुरगंज के बच्चों में एक स्वस्थ पर्तिस्पर्धा कि चेतना का विकास भी करना है जो उत्कृष्टता के लिए आवश्यक है। परीक्षा को आधुनिक राष्ट्रीय प्रवेश परीक्षाओं के तर्ज पर भी सजाया गया है जिससे भाग लेने वाले बच्चे यह समझ सके की भविष्य में उनका सामना किस तरह के चीजों से होना है। अतः ये परीक्षा बच्चों कि योग्यता जांचने के लिए कम, ज्यादा उन्हें कुछ सीखने के लिए करवाई जा रही है। इसीलिए बच्चों को बिना किसी शंका के इस परीक्षा में भाग लेना चाहिए।</p>
	</div>

	<hr />

	<div align="center">
		<h2><u>General Introduction</u></h2>
		<p style="margin-bottom: 8px;"><b>Ramanujan Mathematics Club, Thakurganj</b>, organizes a mathematics competition for school children mainly from class 6th to class 10th, to mark the birth anniversary of the great Indian mathematician <a href="https://en.wikipedia.org/wiki/Srinivasa_Ramanujan"><b>Srinivasan Ramanujan</b></a>. It is completely free to participate in the exam. Prizes will be awarded to the students who secure 1st, 2nd and 3rd positions in the exam.

		<p>The primary purpose of conducting this examination is to generalize and humanize mathematics. Mathematics is a much general and wider subject than what is taught in school. And, maths is also necessary for everyone in some form or the other. </p>

		<p>The second objective is also to develop a sense of healthy competition among the children of Thakurganj which is essential for excellence. The exam is also modeled on the lines of modern national entrance examinations to give the participating children an idea of what they are going to face in the future. Therefore, this examination is being conducted less to check the ability of the children and more to make them learn something. That's why children should take part in this exam without any doubt.
		</p>
	</div>

	<br>

	<div align="center">
		<a href="{{ url_for('honour_code') }}" class="registration-button">आवेदन करें<br>Register</a><br>
		<a href="{{ url_for('check_registration') }}"><small>Check Registration</small></a>
		<br><br>
	</div>


</body>
</html>